@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  html{
      height: 100%;
      width: 100%;
  }
  body{
      height: 100%;
      width: 100%;
  }

  #root{
      height: 100%;
      width: 100%;
  }

  input:focus-visible{
      outline: none;
  }
}